<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movies forum</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Movies Gallery</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <form id="add-topic" action="/topics/new/" method="GET">
          <li><button type="submit"><span class="new badge">Add new topics</span></button></li>
          </form>
        </ul>
      </div>
    </nav>
  <div class="row">
       <div class="col l3 l8 l12">
          <div  id="css" class="card">
    <% topics.forEach((topic) => { %>
        <div class="card-image">
            <img src='<%= topic.url %>' alt= '<%= topic.title %>'>
            <span class="card-title">Title:<%= topic.title %></span>
        </div>
        <div class="card-content">
          <p>Description: <%= topic.description %></p>
          <br>
          <%= console.log('inside the ejs', topic.id) %>
        </div>
        <div class="card-action">
           <form action="/topics/<%= topic.id %>" method="GET">
             <input type="submit" value="Show More Info">
           </form>
        </div>
    <% }) %>
        </div>
     </div>
  </div>
</body>
</html>
