<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Comments</title>
  <link rel="stylesheet" href="/voting.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/libraries/materialize/css/materialize.min.css" />

</head>
<body>
<header>
<h1><%=topics.title%></h1>
<div id="link" data="<%= topics.id %>"></div>
</header>
<section>
  <div class="topic-container">
    <img src="<%= topics.url %>" alt="<%= topics.title %>">
    <p>Description: <%= topics.description %></p><br>
  </div>
  <div id="comment-container">
    <h1>Comment Area</h1>
    <div class=each-comment>
    <% comments.forEach((comment) => { %>
      <p class='comment-text'>
        Comment: <%= comment.comment %>
      </p><br>
     </div>
     <div class=each-vote>
      <p class='comment-vote'>
        Votes: <%= comment.voting %>
      </p><br>
      </div>
      <div class="vote">
      <form action="/topics/<%= topics.id %>/vote?_method=PUT&show=true" method="POST">
        <input type="submit" value="VOTE">
      </form>
    <% }) %>
      </div>
      <div class="more-comment">
    <form id="add-comment" action="/topics/<%= topics.id %>/" method="POST">
       <textarea class="comment-text" form="add-comment" name="comments[comment]" rows="8" cols="50"></textarea>
       <input type="submit" value="Add Comment">
    </form>
    </div>
   </div>
</section>

</body>
</html>
